# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Cache files
*.log
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Ignore local configuration files
*.local

queries_cache/*